@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;

.eventlist {
  @include paddings(2rem, $mobile);

  @include tablet {
    @include paddings(2rem, $tablet);
  }

  @include desktop {
    width: 70%;
    margin: 0 auto;
  }

  &__greeting {
    padding-bottom: 1.6rem;
    font-size: 2.2rem;
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__my-events-button {
    background-color: $movieit-dark-grey;
    border-radius: 20px;
    color: $movieit-white;
    padding: 0.5rem 1.5rem;
  }

  &__load-more {
    padding-top: 2rem;
    color: $movieit-blue;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  &__tablet-outter-container {
    display: flex;
  }

  &__tablet-list-container {
    width: 50%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1rem;
    @include paddings(0rem, 1.6rem);
  }
}

.react-calendar {
  border: none !important;
  width: 25rem !important;
}
