@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;

.myevent {
  @include paddings(2rem, $mobile);

  @include desktop {
    width: 70%;
    margin: 0 auto;
  }

  &__greeting {
    padding-bottom: 1.6rem;
    font-size: 2.2rem;
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }

  &__event-text {
    font-size: 1.4rem;
    font-weight: $demi;

    &--host {
      padding-bottom: 2rem;
    }

    &--invited {
      padding-bottom: 2rem;
    }
  }

  &__all-events-button {
    background-color: $movieit-dark-grey;
    border-radius: 20px;
    color: $movieit-white;
    padding: 0.5rem 1.5rem;
  }

  &__ppl-going {
    color: $movieit-grey;
  }

  &__event-container {
    border-bottom: 3px solid $movieit-grey;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    @include tablet {
      width: 50%;
      @include paddings(0rem, 2.4rem);
      border-bottom: none;
    }

    &--next-event {
      @include tablet {
        display: none;
      }
    }
  }

  &__load-more {
    padding-top: 2rem;
    color: $movieit-blue;
    text-align: center;
    padding-left: 1rem;
    cursor: pointer;
  }

  &__tablet-outter-container {
    @include tablet {
      display: flex;
    }
  }

  &__tablet-inner-container {
    @include tablet {
      width: 100%;
    }
  }

  &__tablet-inner-event-container {
    @include tablet {
      display: flex;
    }
  }

  &__past-event-container {
    display: none;
    @include tablet {
      @include paddings(2rem, $tablet);
      display: block;
      border-top: 1px solid $movieit-grey;
    }
  }

  &__past-event {
    @include tablet {
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      color: $movieit-dark-grey;
      cursor: pointer;
    }
  }

  &__tablet-past-events-container {
    @include tablet {
      width: 100%;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      column-gap: 1rem;
      @include paddings(0rem, 1.6rem);
    }
  }
}

.event-item-myevent {
  width: 100%;
}
