@use './variable' as *;

/* Protest Guerrilla */
@font-face {
  font-family: 'Protest Guerrilla';
  src: url('../../assets/fonts/ProtestGuerrilla-Regular.woff2') format('woff2'),
    url('../../assets/fonts/ProtestGuerrilla-Regular.woff') format('woff'),
    url('../../assets/fonts/ProtestGuerrilla-Regular.ttf') format('ttf');
  font-weight: $regular;
}

/*Bauhaus93 Regular */
@font-face {
  font-family: 'Bauhaus93';
  src: url('../../assets/fonts/Bauhaus93-Regular.woff2') format('woff2'),
    url('../../assets/fonts/Bauhaus93-Regular.woff') format('woff'),
    url('../../assets/fonts/Bauhaus93-Regular.ttf') format('ttf');
  font-weight: $regular;
}
