@use '../../../styles/partials/mixin' as *;
@use '../../../styles/partials/variable' as *;

.profile-photo-upload {
  border-bottom: 3px $movieit-grey solid;
  width: 100%;
  @include paddings(1rem, $mobile);
  margin-bottom: 2rem;

  &__container {
    @include paddings(1.5rem, 1.5rem);
    background-color: $movieit-grey;
    width: fit-content;
    margin: 2rem auto;
  }

  &__image {
    display: block;
    cursor: pointer;
  }
}
