@use '../../styles/partials/variable' as *;
@use '../../styles/partials/mixin' as *;

.footer {
  width: 100%;
  color: $movieit-white;
  background-color: $movieit-dark-grey;
  @include paddings(2rem, $mobile);

  @include tablet {
    display: flex;
    @include paddings(2rem, $tablet);
    justify-content: space-evenly;
  }

  &__container {
    margin-bottom: 2rem;
  }

  &__title {
    padding-bottom: 1rem;
  }

  &__socials {
    img {
      padding-right: 2rem;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    
    &--email {
      text-decoration: none;
      color: $movieit-white;

      &:hover {
        color: $movieit-blue;
      }

    }

    &--time {
      width: 50%;
      font-size: 1.4rem;
      @include tablet {
        width: 15rem;
      }
    }
  }
}
