@use '../../../styles/partials/mixin' as *;
@use '../../../styles/partials/variable' as *;

.invitation-list {
  width: 100%;
  @include paddings(2rem, $mobile);
  background-color: $movieit-white;
  height: 100vh;
  @include paddings(2rem, $mobile);
  position: fixed;
  top: 0;
  z-index: 999;
  border-radius: 20px;

  &__title {
    text-align: center;
    font-size: 2rem;
  }

  @include tablet {
    width: 40%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    width: 100%;

    img {
      position: relative;
      right: -90%;
      cursor: pointer;
    }
  }
}
