@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;

.chatroom {
  width: 100%;
  height: 80vh;
  @include paddings(2rem, $mobile);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__receiver-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px $movieit-grey solid;
  }

  &__image {
    width: 5rem;
    padding-bottom: 1rem;
  }

  &__name {
    font-size: 1.5rem;
  }

  &__content {
    padding: 1.8rem 0;
    flex-grow: 1;
    max-height: 60vh;
  }

  &__type-box {
    border-top: 1px solid $movieit-grey;
    padding-top: 1rem;
  }

  &__send-button {
    position: relative;
    left: 80%;
    cursor: pointer;
  }
}
